body {
  background-color: $colorSecundario
} 
.h2Contactos {
    text-align: center;
    font-size: 40px;
    margin: 30px;
  }
  .h1Login {
    text-align: center;
    font-size: 40px;
  }
  
  .h2Login {
    text-align: center;
    font-size: 40px;
  }
  .h1Nosotros {
    font-size: 60px;
    padding: 10px;
    text-align: center;
  }
  
  .h3Nosotros {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .h1Productos {
    text-align: center;
    font-size: 60px;
  }
  
  .h3Productos {
    text-align: center;
    font-size: 60px;
  }